html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}


.main-header {
	background-color: #036;
}

.main-header h1 {
	margin-bottom: 0;
	font-style: italic;
	color: #cf649a;
}


.hero-banner h1 {
	font-style: italic;
	color: #cf649a;
}


.gallery .card {
	margin-bottom: 1rem;
}

.gallery .card-title {
	font-size: 1.25rem;
}

.gallery .card-footer {
	text-align: right;
}


.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	margin-top: 1rem;
	padding: 1rem;
	background-color: #eee;
}

.main-footer p {
	margin-bottom: 0;
}
